@keyframes hueRotation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes shrink {
  from {
    transform: scale(1) rotateZ(0deg);
  }
  to {
    transform: scale(0.5) rotateZ(360deg);
  }
}

#kaustav {
  animation-name: hueRotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#nick:hover {
  animation-name: spinY;
  animation-duration: 1s;
}

#deb:hover {
  animation-name: shrink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

html {
  font-size: 16px;
}
body {
  background-color: #eee;
}

nav {
  display: flex;
  text-align: center;
  flex-direction: column;
}

nav h2 {
  font-size: 3rem;
}

section {
  margin: 5rem auto;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}
.headshot {
  height: 140px;
  padding: 0.5rem;
  margin: 2rem;
  float: left;
  background-color: white;
}

#inputBox {
  clear: both;
}

#messageBox {
  margin-top: 20px;
  min-height: 50px;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  nav h2 {
    font-size: 2rem;
  }
}
